{% import "bootstrap/wtf.html" as wtf %}
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<title>Edit content</title>
<style>
.location{
	position: relative;
   left:25%;
   top: 15%;
   width: 40%;
}
</style>
<div class="location">

{% block content %}
<div class="container">

  <form class="form-edit" method="POST" action="/{{ data.id }}/edit">
    <h2>Edit</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.detail) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit</button>
  </form>

</div> 
{% endblock %}
</div>