{% import "bootstrap/wtf.html" as wtf %}
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<title>Login</title>
<style>
.location{
  position: relative;
   left:25%;
   top: 15%;
   width: 40%;
}
</style>
<div class="location">
{% block content %}
    <div class="container"> 
      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-primary" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->
{% endblock %}
<button class="btn btn-primary"><a href="http://127.0.0.1:5000/signup"></a>Signup</button>
</div>